<!-- about -->
			<div class="about">
				<!-- container -->
				<div class="container">
					<div class="about-info">
						<h3>about us</h3>
						<h4>Pondok Guru Bakti menawarkan kamar-kamar berkualitas dengan panorama Gunung Rinjani, daya tarik kebudayaan tradisional Pulau Lombok, dan kehangatan penduduk setempat.
						</h4>
						<p>Pondok Guru Bakti berada pada kaki Gunung Rinjani di Pulau Lombok, jalur pendakian resmi menuju Taman Nasional Gunung Rinjani.
							Pemandangan pesona Gunung Rinjani dapat dilihat langsung dari Pondok Guru Bakti. Dengan berjalan kaki,
							Air Terjun Sindeng Gile dan Tiu Kelep dapat ditempuh dalam beberapa menit saja. Selain itu,
							Desa Adat Suku Sasak Sade juga dapat dikunjungi karena letaknya tidak berjauhan dengan Pondok Guru Bakti.
							Mengenal suku asli pulau Lombok dan mempelajari langsung kebudayaan dengan berdialog dengan penduduknya.						
						</p>
					</div>
				</div>
				<!-- //container -->
			</div>
			<!-- about -->
			<!-- about-banner -->
			<div class="about-banner">
				<div class="banner-bg">
					<h3>WE OFFER!</h3>
					<div class="read-more">
						<a href="#">SEE THE TOUR</a>
					</div>
				</div>
			</div>
			<br>
			<br>
			<!-- about-banner -->
			<!-- team -->
			{*}
			<div class="team">
				<!-- container -->
				<div class="container">
					<div class="team-info">
						<h3>OUR TEAM</h3>
					</div>
					<div class="team-grids">
						<div class="team-grid">
							<img src="images/7.jpg" alt="" />
							<div class="team-grid-info">
								<h4>MELISSA DOE</h4>
								<p>Class aptent taciti sociosqu ad litora torquent per conu-
									bia nostra, per inceptos himenaeos.
								</p>
							</div>
						</div>
						<div class="team-grid">
							<img src="images/8.jpg" alt="" />
							<div class="team-grid-info">
								<h4>MELISSA DOE</h4>
								<p>Class aptent taciti sociosqu ad litora torquent per conu-
									bia nostra, per inceptos himenaeos.
								</p>
							</div>
						</div>
						<div class="team-grid">
							<img src="images/9.jpg" alt="" />
							<div class="team-grid-info">
								<h4>MELISSA DOE</h4>
								<p>Class aptent taciti sociosqu ad litora torquent per conu-
									bia nostra, per inceptos himenaeos.
								</p>
							</div>
						</div>
						<div class="team-grid">
							<img src="images/10.jpg" alt="" />
							<div class="team-grid-info">
								<h4>MELISSA DOE</h4>
								<p>Class aptent taciti sociosqu ad litora torquent per conu-
									bia nostra, per inceptos himenaeos.
								</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<!-- container -->
			</div>
			{/*}
