<!-- banner-grids -->
        <div class="banner-grids">
            <!-- container -->
            <div class="container">
                <div class="banner-grid-info">
                    <h3 >Top Destinations</h3>
                    <p>Lombok</p>
                </div>
                <div class="top-grids">
				
				{foreach $data as $val}
                    <div class="top-grid">
                        <img src="{$basedomain}public_assets/{$val.filename}" alt="" />
                        <div class="top-grid-info">
                            <h3>{$val.judul}</h3>
                            <p>{$val.deskripsi}</p>
                        </div>
                    </div>
				{/foreach}	
					
					{*}
                    <div class="top-grid">
                        <img src="{$basedomain}assets/images/destinasi/taman.png" alt="" />
                        <div class="top-grid-info">
                            <h3>Rinjani National Park</h3>
                            <p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices .</p>
                        </div>
                    </div>
                    <div class="top-grid">
                        <img src="{$basedomain}assets/images/destinasi/tiu-kelep.jpg" alt="" />
                        <div class="top-grid-info">
                            <h3>Tiu Kelep Waterfall</h3>
                            <p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices .</p>
                        </div>
                    </div>
                    <div class="top-grid">
                        <img src="{$basedomain}assets/images/destinasi/Sendang-Gile.jpg" alt="" />
                        <div class="top-grid-info">
                            <h3>Sendang Gile Waterfall</h3>
                            <p>Morbi id felis porttitor tellus viverra pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices .</p>
                        </div>
                    </div>
					{/*}
					
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //container -->
        </div>
        <!-- //banner-grids -->
        <!-- before -->
        <div class="before">
            <!-- container -->
            <div class="container">
                <h2>Before you come</h2>
                <div class="before-grids">
                    <div class="before-grid">
						<img src="{$basedomain}assets/images/destinasi/documents.jpg" alt="" width="320px"/>
						<br>
						<br>
                        <h3>Prepare Documents</h3>
                        <p>Persiapkan dokumen-dokumen penting yang diperlukan selama proses perjalanan dan selama anda berada di luar kota. 
							Seperti tiket perjalanan, tanda bukti booking hotel, kartu tanda pengenal, dll.
                        </p>
                    </div>
                    <div class="before-grid">
						<img src="{$basedomain}assets/images/destinasi/preparation.jpg" alt="" width="320px"/>
						<br>
						<br>
                        <h3>Gadgets</h3>
                        <p>Bawalah kamera yang berkualitas bagus dan handphone untuk mengabadikan setiap moment selama perjalanan. Tidak lupa membawa charger atau powerbank.
							Perlengkapan tambahan (topi, kacamata, dll) selama perjalanan juga perlu dipersiapkan.
                        </p>
                    </div>
                    <div class="before-grid">
						<img src="{$basedomain}assets/images/destinasi/bakcpacker.jpg" alt="" width="320px"/>
						<br>
						<br>
                        <h3>Be ready to your Adventure</h3>
                        <p>Perhitungkan dengan matang perjalanan anda dengan budget sesuai kebutuhan, pakaian secukupnya, perlengkapan pendukung sampai obat-obatan.
						    Tetap waspada akan hal-hal buruk karena anda berada diluar tempat yang biasanya anda nyaman. 
							Nikmati perjalanan anda, cermati setiap apa yang anda temukan, syukuri karena mungkin tidak semua orang bisa melakukan hal yang anda lakukan.
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                    <!--<div class="search">
                        <p>get hottest deals to your inbox</p>
                        <form>
                            <input type="text" placeholder="Email address" required="">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>-->
                </div>
            </div>
            <!-- //container -->
        </div>
        <!-- //before -->

