<div class="head-bg"  style="background-color:#A4CFBA">
      <!-- container -->
      <div class="container">
        <div class="head-logo">
          <a href="index.html"><img src="{$basedomain}assets/images/logo-pondok-guru-bakti.png" alt="" /></a>
        </div>
        <div class="top-nav">
            <span class="menu"><img src="{$basedomain}assets/images/menu.png" alt=""></span>
              <ul class="cl-effect-1">
                <li><a href="{$basedomain}">Home</a></li>                                             
                <li><a href="{$basedomain}booking">Rooms</a></li>
                <li><a href="{$basedomain}berita">News</a></li> 
				<li><a href="{$basedomain}profil">About Us</a></li>
                <li><a href="{$basedomain}kontak">Contact</a></li> 
              </ul>
              <!-- script-for-menu -->
               <script>
                 $( "span.menu" ).click(function() {
                 $( "ul.cl-effect-1" ).slideToggle( 300, function() {
                 // Animation complete.
                  });
                 });
              </script>
            <!-- /script-for-menu -->
          </div>
        <div class="clearfix"> </div>
      </div>
      <!-- //container -->
      </div>
