<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
	<head>
		<title>Pondok Guru Bakti | Penginapan</title>
		<link href="{$basedomain}assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link href="{$basedomain}assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
		<link href="{$basedomain}assets/css/main.css" rel="stylesheet" type="text/css" media="all">
		<link href="{$basedomain}assets/css/prettyPhoto.css" rel="stylesheet" type="text/css" media="all">
		<!-- web-font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
		<!-- web-font -->
		<!-- js -->
		<script src="{$basedomain}assets/js/jquery.min.js"></script>
		<script src="{$basedomain}assets/js/modernizr.custom.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script type="application/x-javascript">
		{literal}
		 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 

		{/literal}
		 </script>
		<!-- js -->
		<script src="{$basedomain}assets/js/modernizr.custom.js"></script>
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="{$basedomain}assets/js/move-top.js"></script>
		<script type="text/javascript" src="{$basedomain}assets/js/easing.js"></script>
    	<script type="text/javascript" src="{$basedomain}assets/js/jquery.prettyPhoto.js"></script>
    	<script type="text/javascript" src="{$basedomain}assets/js/main.js"></script>
    	<script type="text/javascript" src="{$basedomain}assets/js/wow.min.js"></script>

		<script type="text/javascript">

		{literal}
			
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});

			});
			
		{/literal}
		</script>
		<!-- start-smoth-scrolling -->
<script type="text/javascript">
	var basedomain = "{$basedomain}";
</script>
</head>
<body>