<!-- mail -->
		<div class="mail">
			<!-- container -->
			<div class="container">
				<div class="mail-info">
					<h3>OUR LOCATION</h3>
				</div>
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126324.2991816037!2d116.40096750000005!3d-8.339080949999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dcdd343f2795463%3A0x752d7449ba99ae82!2sSenaru%2C+Bayan%2C+North+Lombok+Regency%2C+West+Nusa+Tenggara+83354!5e0!3m2!1sen!2sid!4v1441607758492" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="mail-info-grids">
					<div class="col-md-6 mail-info-grid">
						<h3>Contact Information</h3>
						<p>In pharetra dui vitae odio maximus vulputate. Nul
							am finibus dui more neque dui vitae odio maximu.
							In pharetra dui vitae odio maximus vulputate. Null
							finibus dui more neque.odio maximus vulputate. 
							Nulla odio maximus vulputate. Nulla odio maxi.
						</p>
						<h6>Pondok Guru Bakti
						{*}<span>756 gt globel Place,</span>
							CD-Road,M 07 435.
						</h6>{/*}
						<p>Telephone: +62 877-7799-9947
						{*}<span>FAX: +1 234 567 9871</span>{/*}
						E-mail: <a href="mailto:pondokgurubakti@gmail.com">pondokgurubakti@gmail.com</a>
						</p>
					</div>
					<div class="col-md-6 contact-form">
						<form>
							<input type="text" placeholder="Name:" required="">
							<input type="text" placeholder="Email:" required="">
							<input type="text" placeholder="Subject:" required="">
							<textarea placeholder="Message:" required=""></textarea>
							<input type="submit" value="SEND">
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //mail -->
			    <!--  <div class="map">
				 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d505145.6949089349!2d115.07157704999999!3d-8.455471450000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd22f7520fca7d3%3A0x2872b62cc456cd84!2sBali%2C+Indonesia!5e0!3m2!1sen!2sin!4v1418170815897"></iframe>
				</div>
      		</div>
		    </div> -->

	